body {
    font-family: 'Gentium Book Plus', serif;
    background-color: #1A312B !important;
}

.content {
    text-align: center;
    margin-top: 50px;
}

#greeting {
    font-size: large;
    margin-left: 20px;
    margin-top: 20px;
    color: #bbc7c5;
}

h4 {
    font-size: 2em;
    color: #EEEAE7;
    margin-bottom: 25px;
}

#id_total_pages, #id_current_page, #id_title {
    padding:10px 10px;
    font-size:15px;
    float:left;
    outline-color:#fff;
    background-color: #455D58;
    border-color: #1A312B;
}

#id_title{
    width:600px;
}

#id_current_page {
    width:200px;
}

#id_total_pages{
    width:200px;
}

#logout-btn {
    color:#013201;
    background: #C3D9C6;
    padding:7px 7px;
    border-radius: 10px;
    font-size:16px;
    cursor: pointer;
    width:5em;
    border: 1px solid #2D3C1F;
    margin-left: 20px;
    margin-top: -5px;
}

.button_add_book {
    color:#2D3C1F;
    background:#E5ECDD;
    padding:8px 9px;
    border-radius: 10px;
    font-size:17px;
    text-transform:uppercase;
    cursor: pointer;
    width:7em;
    border: 1px solid #5A7378;
}

#chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar-chart {
    margin-bottom: 30px;
    color: #F5F7F5;
}

td {
    color: #F5F7F5;
}